/*BASE CSS*/
.jumbotron {
	background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ), url("http://getwallpapers.com/wallpaper/full/b/a/0/365455.jpg");
	background-position: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header-link:link, #header-link:hover, #header-link:visited, #header-link:active{
	text-decoration: none;
}

#subheader-jumbotron{
	font-size: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#stackoverflow-label{
	display: inline;
	height: 
}

/*INDEX PAGE CSS*/
body{
	height: auto;
}
/*Headers*/
#cat-header{
	font-size: 20px;
	margin: 10px;
}

#cat-choices{
	margin-left: auto;
    margin-right: auto;	
}

/*buttons*/
.cat-button{
	margin: 8px;
	transition: transform .4s; /* Animation */
}

.cat-button:hover {
	transform: scale(1.05);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gen-quiz{
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
}

.genquiz-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.genquiz-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.genquiz-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.genquiz-button:hover span {
  padding-right: 25px;
}

.genquiz-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*QUIZ PAGE CSS*/
.modal-dialog{
	 position: relative;
	 display: table; 
	 overflow-y: auto;    
	 overflow-x: auto;
	 max-width: 300px;
	 min-width: 300px;   
}

.modal-body{
	/*min-width: 400px;
	max-width: 500px;*/
}

.modal-open {
    overflow: scroll;
}

#solution-but-section{
	margin:20px;
}

#question-title{
	margin:20px;
}

#question-title > h2{
	margin: 10px;
	font-size: 25px;
}
.category-label{
	border-radius: 5px;
	margin:3px;
}

.category-label > p{
	margin:3px;
}
.footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 80px; 
}

.carousel-control-next, .carousel-control-prev {
	width:100%;
	overflow-y: hidden;    
	overflow-x: hidden;
	background-color: white;
}

#next-question, #prev-question{
	width: 100%;
	opacity: 0.2;
}

#next-icon{
	margin: 5px;
	color: black;
}
.nav-chevron{
	background-color:;
}

.nav-chevron > a{
	margin-right:auto;
	margin-left: auto; 
}