<html>
	<head>
		<link rel="stylesheet" src="{{ url_for('static', filename='app.css')}}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		{% if title %}
		<title>{{ title }} - Java Quiz App </title>
		{% else %}
		<title>Welcome to the Java Quiz App </title>
		{% endif %}
	</head>
	<body>
		<div class="jumbotron text-center"> 
			<h1> 
				<a href="/index">Java Quiz App</a>
			</h1>
		</div>
		<!-- block content is used to place derived templates
	       derived templates can reference this and provide their content-->
		{% block content %}{% endblock %}

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

		<script src="{{ url_for('static', filename='scripts.js')}}"></script>
	</body>
</html>

