{% extends "base.html" %}

{% block content %}
<section class="container">
	<section class="row justify-content-md-center">
		<button id="gen-quiz" type="button" class="btn btn-lg btn-dark genquiz-button" href="#">
			<span>Generate Quiz</span>
		</button>
	</section>

	<hr>
	<h2 id="cat-header" class="row justify-content-md-center"> Select some categories!</h2>
	<section id="cat-choices" class="row justify-content-md-center">
		{% for category in categories %}
			<button  type="button" class="btn btn-md btn-default cat-button">
				{{ category.name }}
			</button>
    		{% endfor %}
	</section>
</section>
{% endblock %}

