{% extends "base.html" %}

{% block content %}
	
<div class="container">
	{% for post in query %}
	
	<section class="row justify-content-md-center"> 	
		<h2 class="text-center text-dark">{{ post.Post.title }}</h2>
	</section>

	<section class="row justify-content-md-center">	  
		<!-- Button trigger modal -->
		<button id="solution-but" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			  Solution
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Solution - {{ post.Post.title }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ post.Post.answer }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
	{% endfor %}
{% endblock %}



