{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%" id="progBar">
		</div>
	</div>
	<hr>
	<section class="row justify-content-md-center" style="height:50%;">
		
		<div class="col-1 nav-chevron" >
		<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev" id="prev-question">
				<img class="img-fluid" id="prev-icon" src="https://upload.wikimedia.org/wikipedia/commons/2/26/Chevron_left_font_awesome.svg"></img>
			</a>
		</div>

		<div id="demo" class="carousel slide col-10">
			<div class="carousel-inner">
				{% for post in query %}
					{% if loop.index == 1 %}
					<div class="carousel-item active" id="{{ loop.index }}">
					{% endif %}
					{% if loop.index > 1 %}
					<div class="carousel-item" id="{{ loop.index }}">
					{% endif %}
						<section class="row justify-content-md-center" id="question-title"> 	
							<h2 class="text-center text-dark">{{ post.Post.title }}</h2>
						</section>

						<section class="text-center" id="solution-but-section">	  
							<!-- Button trigger modal -->
							<button id="solution-but" type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#exampleModal" data-answer='{{ post.Post.answer }}' data-title='{{ post.Post.title}}'>
								  Solution
							</button>
						</section>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel"></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<!-- LAST SLIDE -->
				<div class="carousel-item" id="11">
					<section class="text-center">
						<h2>Quiz Complete!</h2>
						<a type="button" class="btn btn-lg btn-dark" href="./">
							Return to main page
						</a>
					</section>
				</div>
			</div>
		</div>
		
		<div class="col-1">
			<a class="carousel-control-next" href="#demo" data-slide="next" id="next-question">
				<img class="img-fluid" id="next-icon" src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Chevron_right_font_awesome.svg"></img>
			</a>
		</div>

	</section>
</div>
<footer class="footer navbar-fixed-bottom">
	<hr>
    <div class="container">
        <div class="clearfix">
		{% for cat in cats %}
  		<span class="float-left category-label text-dark bg-light">
  			<kbd>{{ cat }}</kbd>
  		</span>
  		{% endfor %}
		</div>
    </div>
</footer>


	
{% endblock %}



