{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%" id="progBar">
		</div>
	</div>
	<hr>
	<section class="row justify-content-md-center" style="height:50%;">
		
		<div class="col-1 nav-chevron" >
		<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev" id="prev-question">
				<img class="img-fluid" id="prev-icon" src="https://upload.wikimedia.org/wikipedia/commons/2/26/Chevron_left_font_awesome.svg"></img>
			</a>
		</div>

		<div id="demo" class="carousel slide col-10">
			<div class="carousel-inner">
				{% for post in query %}
					{% if loop.index == 1 %}
					<div class="carousel-item active" id="{{ loop.index }}">
					{% endif %}
					{% if loop.index > 1 %}
					<div class="carousel-item" id="{{ loop.index }}">
					{% endif %}
						<section class="row justify-content-md-center" id="question-title"> 	
							<h2 class="text-center text-dark">{{ post.Post.title }}</h2>
						</section>

						<section class="text-center" id="solution-but-section">	  
							<button id="moreInfo-but" type="button" class="btn btn-warning text-center" data-toggle="modal" data-target="#moreInfoModal" data-body='{{ post.Post.body }}' data-title='{{ post.Post.title}}'>
								  More Info
							</button>
							<!-- Button trigger modal -->
							<button id="solution-but" type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#solutionModal" data-answer='{{ post.Post.answer }}' data-title='{{ post.Post.title}}'>
								  Solution
							</button>
						</section>
					</div>
					<!-- Solution Modal -->
					<div class="modal fade" id="solutionModal" tabindex="-1" role="dialog" aria-labelledby="solutionModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="solutionModalLabel"></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" id="solutionModal-body">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<!-- more info modal -->
					<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="moreInfoModalLabel"></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" id="moreInfoModal-body">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

				{% endfor %}
				<!-- LAST SLIDE -->
				<div class="carousel-item" id="11">
					<section class="text-center">
						<h2>End of quiz</h2>
						<button type="button" id="index-button" class="btn btn-lg btn-dark genquiz-button" href="#">
							<span>Home</span>
						</button>
					</section>
				</div>
			</div>
		</div>
		
		<div class="col-1">
			<a class="carousel-control-next" href="#demo" data-slide="next" id="next-question">
				<img class="img-fluid" id="next-icon" src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Chevron_right_font_awesome.svg"></img>
			</a>
		</div>

	</section>
</div>
<footer class="footer navbar-fixed-bottom">
	<hr>
    <div class="container">
        <div class="clearfix">
			{% for cat in cats %}
	  		<span class="float-left category-label text-dark bg-light">
	  			<kbd>{{ cat }}</kbd>
	  		</span>
	  		{% endfor %}

	  		<span class="float-right" id="stackoverflow-label">
	  			Powered by 
	  			<img src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.png?v=9c558ec15d8a" class="img-thumbnail" alt="stackoverflow logo" width="120" height="30">
	  		</span>
		</div>
    </div>
</footer>


	
{% endblock %}



